body {background-color: #001011;}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #3AAFB9 !important
}

/* Create two equal columns that floats next to each other */
.column {
    float: below;
    width: 100%;
    padding: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#content input
{
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    color:#001011 !important
}

#content select 
{
    color:#001011 !important
}

#content option 
{
    color:#001011 !important
}

img {
    max-width: 100%;
    height: auto;
}

hr.new {
  border: 10px solid #001011;
  border-radius: 5px;
  width: 120%;
  margin: 0em;
}

.button {
  display: inline-block;
  line-height: 3em;
  background: #001011;
  background-clip: padding-box;
	border: none;
	width: 100%
}

